@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 9pt';
    src: url('Fraunces9pt-Black.woff2') format('woff2'),
        url('Fraunces9pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

